<launch>
  <!-- Demo launch file without microphone.
       Type commands in terminal, e.g. done / yes / no.
       Mock YOLO will publish a fake detection result after trigger. -->

  <rosparam command="load" file="$(find smart_cafeteria_speech_state)/config/speech_config.yaml" />

  <node pkg="smart_cafeteria_speech_state"
        type="state_manager_node.py"
        name="state_manager_node"
        output="screen" />

  <node pkg="smart_cafeteria_speech_state"
        type="tts_node.py"
        name="tts_node"
        output="screen" />

  <node pkg="smart_cafeteria_speech_state"
        type="mock_yolo_node.py"
        name="mock_yolo_node"
        output="screen" />

  <node pkg="smart_cafeteria_speech_state"
        type="keyboard_command_node.py"
        name="keyboard_command_node"
        output="screen" />
</launch>
